@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Regular.otf");
  font-style: normal;
  font-weight: normal;
}
* {
  font-family: "Montserrat";
}

.container {
  width: 90%;
  margin: 0 auto;
}

div#header {
  background-color: #074581;
  padding: 2% 0;
  border-bottom: #de0019 2vh solid;
  margin-bottom: -3vh;
}
div#header .section div.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
div#header .section div.container div:first-child {
  flex-basis: 50%;
  color: white;
  display: flex;
  align-items: center;
}
div#header .section div.container div:first-child a {
  text-decoration: none;
  color: white;
  margin-right: 1%;
}
div#header .section a#logo {
  float: left;
}
div#header .section div.region-header {
  flex-basis: 25%;
}
div#header .section div.region-header div#block-system-navigation .content {
  width: 100%;
}
div#header .section div.region-header div#block-system-navigation .content ul {
  justify-items: right;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 0;
  padding: 0;
}
div#header .section div.region-header div#block-system-navigation .content ul li.leaf {
  width: 17vh;
  list-style: none;
  text-align: center;
}
div#header .section div.region-header div#block-system-navigation .content ul a {
  display: block;
  text-decoration: none;
  color: white;
}

div#content div.block div.view-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div#content div.block div.view-content > div {
  width: 30%;
  margin: 0 auto;
}
div#content div.block div.view-content > div div.field-name-field-article-title {
  font-size: 1em;
  font-weight: bolder;
  margin-bottom: 3%;
}
div#content div.block div.view-content > div div.field-name-field-published-date {
  font-weight: bolder;
  color: #de0019;
}

div.block-views h2 {
  font-size: 1.4em;
  font-weight: bolder;
}
div.block-views h2::before {
  content: "-";
  font-stretch: expanded;
  margin-right: 1.5%;
  color: #de0019;
}

div#block-views-nos-locaux-block h2 {
  width: 90%;
  margin: 0 auto;
}

div#block-system-main {
  display: none;
}

div.region-content-top .content img {
  width: 100%;
  margin-top: 0;
}

div#footer-wrapper {
  background-color: #074581;
}
div#footer-wrapper .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}
div#footer-wrapper .container > div {
  margin: 0 3%;
}
div#footer-wrapper .container ul {
  margin-left: 0;
  padding: 0;
}
div#footer-wrapper .container li {
  list-style: none;
}
div#footer-wrapper .container a {
  text-decoration: none;
  color: white;
}

div#block-block-2 div.content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
div#block-block-2 div.content p {
  width: 50%;
}
div#block-block-2 div.content a {
  text-decoration: none;
  font-size: 2em;
  color: #074581;
}
div#block-block-2 div.content a[href*="tel:"]::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 5%;
}
div#block-block-2 div.content a[href*="#"]::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 5%;
}

div#block-views-job-block div.content {
  margin-top: 6em;
  justify-content: space-between;
  text-align: center;
}
div#block-views-job-block div.content .views-row:not(:last-child) {
  position: relative;
}
div#block-views-job-block div.content .views-row:not(:last-child)::after {
  position: absolute;
  right: 0;
  top: -10vh;
  content: "";
  display: block;
  height: 15vh;
  border-right: #de0019 solid 2px;
  transform: skew(-40deg);
}
div#block-views-job-block div.content a {
  text-decoration: none;
  color: gray;
  font-style: italic;
  position: relative;
  font-size: 1.5em;
}
div#block-views-job-block div.content a::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  font-style: normal;
  font-size: 2.5em;
  left: 2vh;
  top: -9.5vh;
  color: #074581;
}
div#block-views-job-block div.content a[href*="2"]::before {
  content: "";
}
div#block-views-job-block div.content a[href*="3"]::before {
  content: "";
  left: 5vh;
}
div#block-views-job-block div.content a[href*="1"]::before {
  content: "";
  left: 4vh;
}

div[class*=firstcolumn] {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
}
div[class*=firstcolumn] img {
  flex-basis: 100%;
}
div[class*=firstcolumn] p:last-child a {
  font-weight: lighter;
  font-style: italic;
}
div[class*=firstcolumn]::after {
  position: absolute;
  right: 10vh;
  top: 10vh;
  content: "";
  display: block;
  height: 20vh;
  border-right: white solid 2px;
  transform: skew(-40deg);
}

/*# sourceMappingURL=style.css.map */
