@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Regular.otf");
  font-style: normal;
  font-weight: normal;
}

$background-color: #074581;
$red-used: #de0019;
$font: 'Montserrat';

* {
  font-family: $font;
}

.container {
  width: 90%;
  margin: 0 auto;
}

div#header {
  background-color: $background-color;
  padding: 2% 0;
  border-bottom: $red-used 2vh solid;
  margin-bottom: -3vh;

  .section {
    div.container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      div:first-child {
        flex-basis: 50%;
        color: white;
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
          color: white;
          margin-right: 1%;
        }
      }
    }

    a#logo {
      float: left;
    }

    div.region-header {
      flex-basis: 25%;

      div#block-system-navigation {

        .content {
          width: 100%;
          ul {
            justify-items: right;
            display: flex;
            flex-direction: row;
            list-style: none;
            margin-left: 0;
            padding: 0;

            li.leaf {
              width: 17vh;
              list-style: none;
              text-align: center;
            }

            a {
              display: block;
              text-decoration: none;
              color: white;
            }
          }

        }
      }
    }
  }
}

div#content div.block div.view-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > div {
    width: 30% ;
    margin: 0 auto;

    div.field-name-field-article-title {
      font-size: 1em;
      font-weight: bolder;
      margin-bottom: 3%;
    }

    div.field-name-field-published-date {
      font-weight: bolder;
      color: $red-used;
    }
  }
}

div.block-views h2 {
  font-size: 1.4em;
  font-weight: bolder;
  &::before {
    content: "-";
    font-stretch: expanded;
    margin-right: 1.5%;
    color: $red-used;
  }
}

div#block-views-nos-locaux-block h2 {
  width: 90%;
  margin: 0 auto;
}

div#block-system-main {
  display: none;
}

div.region-content-top .content img {
  width: 100%;
  margin-top: 0;
}

div#footer-wrapper {
  background-color: $background-color;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;

    > div {
      margin: 0 3%;
    }

    ul {
      margin-left: 0;
      padding: 0;
    }
    li {
      list-style: none;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }

}

div#block-block-2 div.content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  p {
    width: 50%;
  }

  a {
    text-decoration: none;
    font-size: 2em;
    color: $background-color;

    &[href*="tel:"]::before {
      content: "\f095";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-right: 5%;
    }

    &[href*="#"]::before {
      content: "\f3c5";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-right: 5%;
      }


  }
}

div#block-views-job-block div.content {
  margin-top: 6em;
  justify-content: space-between;
  text-align: center;

  .views-row:not(:last-child) {
    position: relative;
    &::after {
      position: absolute;
      right: 0;
      top: -10vh;
      content: "";
      display: block;
      height: 15vh;
      border-right: $red-used solid 2px;
      transform: skew(-40deg);
    }
  }
  a {
    text-decoration: none;
    color: gray;
    font-style: italic;
    position: relative;
    font-size: 1.5em;

    &::before {
      content: "";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      font-style: normal;
      font-size: 2.5em;
      left: 2vh;
      top: -9.5vh;
      color: $background-color;
    }
    &[href*="2"]::before {
      content: "\f0c0";
    }

    &[href*="3"]::before {
      content: "\f201";
      left: 5vh;
    }

    &[href*="1"]::before {
      content: "\f64f";
      left: 4vh;
    }
  }
}

div[class*='firstcolumn'] {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  img {
    flex-basis: 100%;
  }

  p:last-child a {
    font-weight: lighter;
    font-style: italic;
  }

  &::after {
    position: absolute;
    right: 10vh;
    top: 10vh;
    content: "";
    display: block;
    height: 20vh;
    border-right: white solid 2px;
    transform: skew(-40deg);
  }

}




